aside {
    padding: 20px;
}

aside {
    border-left: 2px solid #c2185b;
}

aside img {
    max-width: 200px;
    margin-bottom: 10px;
}

div#main-container section#destinations,
div#main-container section#destinations h2 {
    padding-top: 0;
    margin-top: 0;
}