footer ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li ul {
    display: block;
}

footer {
    margin-top: 30px;
    text-align: center;
}

footer p span {
    font-weight: bold;
}

footer nav ul ul li {
    margin-top: 0.5em;
}

footer nav ul ul li a {
    font-weight: 300;
}