#infos div {
    display: flex;
}

#infos table {
    width: 100%;
    line-height: 1.5em;
    margin-top: 2em;
    margin-bottom: 2em;
}

#infos thead {
    background-color: #c2185b;
}

#infos tbody tr:nth-child(odd) {
    background-color: rgba(0, 30, 60, 0.8);
}

#infos td {
    text-align: center;
}

#infos caption {
    font-weight: 300;
    margin-bottom: 1em;
}

#infos figure {
    text-align: center;
}