#newsletter {
    background-color: #c2185b;
    padding: 10px;
    border-radius: 10px;
}


#newsletter button,
#newsletter select,
#newsletter input {
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 0.4em;
    color: #13385f;
}

#newsletter button {
    color: white;
    background-color: #13385f;
}

#newsletter form {
    line-height: 3em;
}